.card-pic {
    width: 100%;
    max-height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: fill;/*fall-back for browsers not supporting object-fit*/
    cursor: pointer;
    object-fit: cover;
    /*padding-top: 5px;*/
    margin-bottom: -4px;
}




@media all and (min-width: 768px) {
    .card-pic {
        max-width: 35%;
        height: 178px; 
        padding: 10px 15px 10px 0px;
        margin-bottom: 0px;               
    }
}